<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
<div id="app">
  <el-form :label-position="labelPosition" :label-width="labelWidth" :model="formData" ref="formData" :rules="rules">
    <el-form-item label="お名前" prop="name">
      <el-input v-model="formData.name"></el-input>
    </el-form-item>
    <el-form-item label="e-mail" prop="email">
      <el-input v-model="formData.email"></el-input>
    </el-form-item>
    <el-form-item label="タイトル" prop="title">
      <el-input v-model="formData.title"></el-input>
    </el-form-item>
    <el-form-item label="メッセージ" prop="message">
      <el-input type="textarea" v-model="formData.message"></el-input>
    </el-form-item>
    <el-form-item label="パスワード" prop="password">
      <el-input type="password" v-model="formData.password"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('formData')">Send</el-button>
      <el-button @click="resetForm('formData')">Reset</el-button>
    </el-form-item>
  </el-form>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="bss.js"></script>
</body>
</html>